<%- include('./includes/head.ejs') %>

</head>
<%- include('./includes/navigation.ejs') %>
<body class="preload">
  <main class="error-page">
    <h1>Sidan kunde inte hittas!</h1><br>
    <p>Du kan skicka ett mejl till <a href="mailto:serdar.savas@botkyrka.se">serdar.savas@botkyrka.se</a> om du undrar något.</p>
  </main>

<%- include('./includes/end.ejs') %>