<%- include('./includes/head.ejs') %>

</head>
<%- include('./includes/navigation.ejs') %>
<body class="preload">
  <main class="error-page">
    <h1>Ooops.. Ett serverfel uppstod! </h1><br>
    <p>Skicka gärna ett mejl till <a href="mailto:serdar.savas@botkyrka.se">serdar.savas@botkyrka.se</a> om du vill veta mer eller rapportera felet.</p>
  </main>

<%- include('./includes/end.ejs') %>
